@import "~/.cache/wal/colors-rofi-dark"
* {
    border-radius: 5px;
}

window {
    border: 2px;
}

configuration {
    display-drun: "Search";
    display-run: "Run";
    show-icons: false;
}

element {
    padding: 4px;
}

element.selected {
    border-radius: 5px;
}
