@theme "/usr/share/rofi/themes/Pop-Dark.rasi"

* {
    selected-normal-foreground: #ffffff;
    selected-normal-background: #709575;
    background-color: #2d353b;
    border-radius: 5px;
}

configuration {
    display-drun: "Search";
    display-run: "Run";
}

element {
    padding: 4px;
}

element.selected {
    border-radius: 5px;
}
