@theme "./Pop-Dark.rasi"

* {
    selected-normal-foreground: #ffffff;
    selected-normal-background: #709575;
    background-color: #2b2e35;
    border-radius: 5px;
}

window {
    border: 2px;
    border-color: #98c379;
}

configuration {
    display-drun: "Search";
    display-run: "Run";
}

element {
    padding: 4px;
}

element.selected {
    border-radius: 5px;
}
