/**
 *
 * Author : unixkiwi
 * Github : @unxikiwi
 * 
 * Rofi Theme File
**/

@import "~/.cache/wal/colors-rofi-dark.rasi"

* {
	font: "Font Awesome 25";
}

window {
	border: 4px;
	width: 400px;
	location: center;
	height: 340px;
}

inputbar {
	enabled: false;
}

element selected.normal {
	border: 2px;
}

element-text {
	color: #777777;
}

element-text selected.normal {
	color: #ffffff;
}
